.chessboard{
    width: 50%!important;
    float:left;
    justify-content: flex-end!important;
    align-items: center;
	/*height: 70vh!important;*/
    margin: 0 0 0 0;
}
.game_details{
    display:inline-block;
    width: 40%!important;
    padding-top: 50px;
    text-align: left;
}

.newline{
    display: none;
}

span{
    margin-right: 20px;
    color: rgb(255, 255, 255)
}

table{
    border-collapse: collapse;
    width: 50%;
}

.index{
    width: 10%;
}

.white{
    width: 30%;
}

.blac{
    width: 30%;
}

.odd-row{
    background-color: rgb(56 58 59);
}

@media only screen and (max-width: 500px) {
    .chessboard {
        width: 100%!important;
        height: auto;
        justify-content: space-around!important;
        margin-top: 20px;
    }
    .newline{
        display: block;
    }
    .game_details{
        display: block;
        width: 100%!important;
        padding-top: 0px;
        text-align: center;
    }

    .moves-div{
        display: none;
    }
  }