absl-py
aiohttp
aiohttp-cors==0.7.0
appnope
astor==0.8.1
async-timeout==3.0.1
attrs
backcall
bidict
certifi==2021.5.30
cffi
chardet
coverage
cryptography
Cython
decorator
dnspython==1.16.0
eventlet
gast==0.2.2
google-pasta==0.2.0
greenlet
grpcio
h5py
idna
idna-ssl
importlib-metadata
ipykernel
ipython
ipython-genutils
jedi==0.17.0
joblib
jupyter-client
jupyter-core
Keras-Applications
Keras-Preprocessing
Markdown
multidict
numpy
opt-einsum
pandas
parso
pexpect
pickleshare
prompt-toolkit
protobuf==3.17.2
ptyprocess
pycparser
Pygments
pyOpenSSL
python-chess==0.31.4
python-dateutil
python-engineio
python-socketio
pytz
pyzmq==20.0.0
scikit-learn
scipy
six 
stockfish==3.17.0   
termcolor==1.1.0
tornado
traitlets==4.3.3
typing-extensions
wcwidth
Werkzeug
wrapt==1.12.1
yarl
zipp
